$row-max-width: 1200px; /* row max-width */

// Media Query Ranges
$medium-query: 420px;
$large-query: 769px;
$xlarge-query: 61.25em;
$xxlarge-query: 75em;
$xxxlarge-query: 80em;
$xxxxlarge-query: 110em;
